[submodule "delivery/src/main/java/com/fifteen/eureka/common"]
	path = delivery/src/main/java/com/fifteen/eureka/common
    url = https://github.com/FIFTEEN-Logistics/common.git
[submodule "user/src/main/java/com/fifteen/eureka/common"]
	path = user/src/main/java/com/fifteen/eureka/common
	url = https://github.com/FIFTEEN-Logistics/common.git
