[submodule "user/src/main/java/com/fifteen/eureka/common"]
	path = user/src/main/java/com/fifteen/eureka/common
	url = https://github.com/FIFTEEN-Logistics/common.git
[submodule "order/src/main/java/com/fifteen/eureka/common"]
	path = order/src/main/java/com/fifteen/eureka/common
	url = https://github.com/FIFTEEN-Logistics/common.git
[submodule "vpo/src/main/java/com/fifteen/eureka/common"]
	path = vpo/src/main/java/com/fifteen/eureka/common
	url = https://github.com/FIFTEEN-Logistics/common.git
